<a routerLink="/dashboard" style="text-decoration: none; color: black"
  ><= Back to Dashboard</a
>

<div class="header-div">
  <h4>Enquiry Details</h4>
</div>

<div class="mat-button-div">
  <button mat-button (click)="accordion().openAll()">Expand All</button>
  <button mat-button (click)="accordion().closeAll()">Collapse All</button>
</div>
<div class="accordion-div mt-3">
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h5>Customer Details</h5> </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- CONTENT GOES HERE -->
      <div class="customer-info-div">
        <h5><b>Customer Information</b></h5>
        <hr />
        <div class="container mb-3 mt-3">
          <div class="row mb-3">
            <div class="col">
              <b>Name: </b>
              {{ enquiry?.firstName }} {{ enquiry?.lastName }}
            </div>
            <div class="col">
              <b>Email: </b>

              {{ enquiry?.email }}
            </div>
            <div class="col"><b>Phone: </b> {{ enquiry?.contactNumber }}</div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <b>Preferred Method of Contact: </b>
              {{ enquiry?.methodOfContact }}
            </div>
            <div class="col">
              <b>Consent to Call: </b>
              {{ enquiry?.consentToCall ? "Yes" : "No" }}
            </div>
            <div class="col">
              <b>Other questions asked by the customer: </b>
              {{ enquiry?.otherQuestions }}
            </div>
          </div>
        </div>
      </div>

      <div class="property-info-div">
        <h5><b>Property Information</b></h5>
        <hr />
        <div class="container mt-3 mb-3">
          <div class="row mb-3">
            <div class="col">
              <b>Preferred Property Type: </b> {{ enquiry?.propertyType }}
            </div>
            <div class="col">
              <b>Preferred Areas: </b> {{ enquiry?.preferredAreas }}
            </div>
            <div class="col">
              <b>Purchase Timeframe: </b> {{ enquiry?.purchaseTimeFrame }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col"></div>
            <div class="col">
              <b>Customer Budget Range: </b> {{ enquiry?.budgetRange }}
            </div>
            <div class="col">
              <b>Initial Mode of Payment: </b> {{ enquiry?.modeOfPayment }}
            </div>
          </div>
        </div>
      </div>
      <!-- CONTENT GOES HERE -->
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h5>Enquiry Questionnaire</h5></mat-panel-title>
      </mat-expansion-panel-header>

      <!-- CONTENT GOES HERE -->
      <form [formGroup]="enquiryQuestionnaireForm" (ngSubmit)="submitForm()">
        <div class="table-container">
          <table class="form-table">
            <!-- First Row: Enquiry Status, Agent Name, Budget Confirmation -->
            <tr>
              <th>Enquiry Status</th>
              <th>Agent Name</th>
              <th>Budget Confirmed?</th>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Select an Enquiry Status</mat-label>
                  <mat-select formControlName="enquiryStatus">
                    <mat-option
                      *ngFor="let status of enqStatusDDL"
                      [value]="status"
                    >
                      {{ status }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <input
                    matInput
                    formControlName="agentName"
                    [value]="agentName"
                    readonly="true"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-radio-group
                  formControlName="hasConfirmedBudget"
                  aria-label="Choose One"
                  (change)="showSelection($event)"
                >
                  <mat-radio-button [value]="true">Yes</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>

            <!-- Second Row: Reconfirmed Budget, Mode of Payment, Empty -->
            <tr>
              <th>Reconfirmed Budget</th>
              <th>Reconfirmed Mode of Payment</th>
              <th>Does the customer want loan from us?</th>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Enter a value</mat-label>
                  <input matInput formControlName="refinedBudgetRange" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Mode of Payment</mat-label>
                  <mat-select
                    formControlName="reconfirmModeOfPayment"
                    (selectionChange)="mopValueChanged($event)"
                  >
                    <mat-option *ngFor="let mop of modeOfPayment" [value]="mop">
                      {{ mop }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-radio-group
                  formControlName="loanProcessingConsent"
                  aria-label="Choose One"
                  (change)="loanProcessConsentChange($event)"
                >
                  <mat-radio-button [value]="true">Yes</mat-radio-button>
                  <mat-radio-button [value]="false"
                    >No</mat-radio-button
                  ></mat-radio-group
                >
              </td>
            </tr>

            <!-- ROW 3 -->
            <tr>
              <th>Customer's Loan Processing Vendor</th>
              <th>Follow Up Actions about the customer</th>
              <th>Comments</th>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Enter Vendor Name</mat-label>
                  <input matInput formControlName="loanProcessingVendor" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Select a follow-up action</mat-label>
                  <mat-select formControlName="followUpActions">
                    <mat-option
                      *ngFor="let action of followUpActions"
                      [value]="action"
                      >{{ action }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Add a Comment</mat-label>
                  <textarea
                    matInput
                    formControlName="comments"
                    rows="4"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <!-- Submit Button -->
          <div class="submit-button-container">
            <button mat-stroked-button type="submit">Submit</button>
          </div>
        </div>
      </form>
      <!-- CONTENT GOES HERE -->
    </mat-expansion-panel>
  </mat-accordion>
</div>
